@media only screen and (min-width: 480px) {
    
    .seccion-portada-home{
        background-image: url("../assets/portada/portada-home2b.jpg") !important;
    }

    .seccion-portada-contacto{
        background-image: url("../assets/portada/portada-contacto2b.jpg") !important;;
    }

    .seccion-portada-nosotros{
        background-image: url("../assets/portada/portada-nosotros2.jpg") !important;
    }

    .seccion-portada-servicios{
        background-image: url("../assets/portada/portada-servicios2.jpg") !important;
    }

    .seccion-portada-partners{
        background-image: url("../assets/portada/portada-partners2b.jpg") !important;
    }
}