@charset "UTF-8";
.colors, .form-contacto form input, .form-contacto form div:nth-child(4) select, .form-contacto form textarea {
  background-color: rgba(107, 171, 187, 0.5333333333);
  color: #19393F;
}

.form-contacto {
  background-color: rgba(255, 255, 255, 0.6);
}
.form-contacto div h3 {
  padding: 10px;
  font-size: 2.8em;
}
.form-contacto form {
  margin: 0 1px 0 1px;
}
.form-contacto form textarea {
  height: 200px;
}
.form-contacto form div:nth-child(6) {
  display: flex;
  justify-content: star;
  align-items: baseline;
}
.form-contacto form div:nth-child(6) label {
  margin-left: 5px;
  font-size: 1.6em;
}
.form-contacto form div:last-child {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.form-contacto form div:last-child button {
  width: 50%;
  background-color: rgba(51, 51, 51, 0.3333333333);
  color: rgba(255, 255, 255, 0.8);
  font-weight: bold;
}

.accordion-partners {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
  margin-top: 2em;
  width: 100%;
}

.accordion-button img {
  height: 40px;
}

.header1 img {
  height: 45px;
}

.accordion-button, .accordion-item {
  background-color: rgba(255, 255, 255, 0.6);
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(107, 171, 187, 0.5333333333);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #19393F;
}

.logo-pixies-f:hover {
  animation: latir 3s linear;
}
@keyframes latir {
  0% {
    transform: scale(1.5, 1.5);
  }
  10% {
    transform: scale(2, 2);
  }
  20% {
    transform: scale(1, 1);
  }
  30% {
    transform: scale(1.5, 1.5);
  }
  40% {
    transform: scale(2, 2);
  }
  50% {
    transform: scale(1.5, 1.5);
  }
  60% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1.5, 1.5);
  }
  80% {
    transform: scale(1, 1);
  }
  90% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}

.logo-pixies-h:hover {
  animation: girarYRebote 3s ease-out;
}

@keyframes girarYRebote {
  0% {
    transform: rotate3D(1, 1, 1, 3600deg);
  }
  59% {
    transform: rotate3D(0, 0, 0, 0);
  }
  60% {
    transform: rotate3D(1, 1, 0, -120deg);
  }
  68% {
    transform: rotate3D(1, 1, 0, 120deg);
  }
  76% {
    transform: rotate3D(1, 1, 0, -60deg);
  }
  84% {
    transform: rotate3D(1, 1, 0, 60deg);
  }
  92% {
    transform: rotate3D(1, 1, 0, -30deg);
  }
  100% {
    transform: rotate3D(1, 1, 0, 30deg);
  }
}
.border-cyan {
  border: 2px solid #3AE9E6 !important;
}

.border-bt-cyan {
  border-bottom: 2px solid #3AE9E6 !important;
}

.fc-cyan {
  color: rgba(58, 233, 230, 0.7333333333) !important;
}

.fc-cyan-active {
  color: #3AE9E6 !important;
  background-color: rgba(51, 51, 51, 0.3333333333);
}

nav ul li a:hover {
  background-color: #19393F;
  border: 1px solid rgba(255, 255, 255, 0.5333333333);
  border-radius: 5px;
  padding: 5px;
}

footer i {
  color: #3AE9E6;
  font-size: 30px;
}

i:hover {
  color: body-bgc;
}

.fc-white {
  color: rgba(255, 255, 255, 0.8666666667);
}

.seccion-portada-home {
  background-image: url("../assets/portada/portada-home1b.jpg");
  height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-portada-home div {
  background-color: rgba(0, 0, 0, 0.5333333333);
  height: 150px;
}
.seccion-portada-home div h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  padding-top: 1.6em;
}
.seccion-portada-home div h1 span {
  color: #3AE9E6;
}

.seccion-portada-contacto {
  background-image: url("../assets/portada/portada-contacto1b.jpg");
  height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-portada-contacto div {
  background-color: rgba(0, 0, 0, 0.5333333333);
  height: 150px;
}
.seccion-portada-contacto div h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  padding-top: 1.6em;
}
.seccion-portada-contacto div h1 span {
  color: #3AE9E6;
}

.seccion-portada-nosotros {
  background-image: url("../assets/portada/portada-nosotros1.jpg");
  height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-portada-nosotros div {
  background-color: rgba(0, 0, 0, 0.5333333333);
  height: 150px;
}
.seccion-portada-nosotros div h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  padding-top: 1.6em;
}
.seccion-portada-nosotros div h1 span {
  color: #3AE9E6;
}

.seccion-portada-servicios {
  background-image: url("../assets/portada/portada-servicios1.jpg");
  height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-portada-servicios div {
  background-color: rgba(0, 0, 0, 0.5333333333);
  height: 150px;
}
.seccion-portada-servicios div h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  padding-top: 1.6em;
}
.seccion-portada-servicios div h1 span {
  color: #3AE9E6;
}

.seccion-portada-partners {
  background-image: url("../assets/portada/portada-partners1b.jpg");
  height: 75vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.seccion-portada-partners div {
  background-color: rgba(0, 0, 0, 0.5333333333);
  height: 150px;
}
.seccion-portada-partners div h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 3em;
  text-align: center;
  padding-top: 1.6em;
}
.seccion-portada-partners div h1 span {
  color: #3AE9E6;
}

.seccion-contenido-home {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.seccion-contenido-home h2, .seccion-contenido-home h3 {
  font-size: 2.8em;
  align-self: start;
}
.seccion-contenido-home p {
  font-size: 1.6em;
  align-self: start;
}
.seccion-contenido-home h3, .seccion-contenido-home h4 {
  margin: 1em 0;
}
.seccion-contenido-home h4 {
  font-size: 2.4em;
  align-self: center;
}
.seccion-contenido-home .container-img {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 120vh;
  gap: 10px;
}
.seccion-contenido-home .container-img div:first-child {
  grid-column: "1/2";
  grid-row: "1/2";
  background-image: url("../assets/contenido-home1.jpg");
  background-size: cover;
}
.seccion-contenido-home .container-img div:nth-child(2) {
  grid-column: "1/2";
  grid-row: "2/3";
  background-image: url("../assets/contenido-home2.jpg");
  background-size: cover;
}
.seccion-contenido-home .container-img div:last-child {
  grid-column: "1/2";
  grid-row: "3/4";
  background-image: url("../assets/contenido-home3.jpg");
  background-size: cover;
}
.seccion-contenido-home p:last-child {
  margin-top: 10px;
}

.seccion-contenido-contacto {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.seccion-contenido-contacto h2, .seccion-contenido-contacto h3 {
  font-size: 2.8em;
  align-self: start;
}
.seccion-contenido-contacto p {
  font-size: 1.6em;
  align-self: start;
}
.seccion-contenido-contacto h3, .seccion-contenido-contacto h4 {
  margin: 1em 0;
}
.seccion-contenido-contacto h4 {
  font-size: 2.4em;
  align-self: center;
}

.seccion-contenido-nosotros {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.seccion-contenido-nosotros h2, .seccion-contenido-nosotros h3 {
  font-size: 2.8em;
  align-self: start;
}
.seccion-contenido-nosotros p {
  font-size: 1.6em;
  align-self: start;
}
.seccion-contenido-nosotros h3, .seccion-contenido-nosotros h4 {
  margin: 1em 0;
}
.seccion-contenido-nosotros h4 {
  font-size: 2.4em;
  align-self: center;
}

.seccion-contenido-servicios {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.seccion-contenido-servicios h2, .seccion-contenido-servicios h3 {
  font-size: 2.8em;
  align-self: start;
}
.seccion-contenido-servicios p {
  font-size: 1.6em;
  align-self: start;
}
.seccion-contenido-servicios h3, .seccion-contenido-servicios h4 {
  margin: 1em 0;
}
.seccion-contenido-servicios h4 {
  font-size: 2.4em;
  align-self: center;
}

.seccion-contenido-partners {
  margin: 5em auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
}
.seccion-contenido-partners h2, .seccion-contenido-partners h3 {
  font-size: 2.8em;
  align-self: start;
}
.seccion-contenido-partners p {
  font-size: 1.6em;
  align-self: start;
}
.seccion-contenido-partners h3, .seccion-contenido-partners h4 {
  margin: 1em 0;
}
.seccion-contenido-partners h4 {
  font-size: 2.4em;
  align-self: center;
}

.tarjetas {
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  gap: 20px;
}
.tarjetas .tarjeta {
  width: 100%;
  max-width: 300px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.6);
}
.tarjetas .tarjeta .tarjeta-img {
  background-size: cover;
  width: 100%;
  height: 40%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.tarjetas .tarjeta .tarjeta-texto {
  width: 95%;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
}
.tarjetas .tarjeta .tarjeta-texto h3 {
  font-size: 2em;
}
.tarjetas .tarjeta .tarjeta-texto p {
  font-size: 1.2em;
}
.tarjetas .item1 {
  grid-column: 1/2;
  grid-row: 1/2;
}
.tarjetas .item1 .tarjeta-img {
  background-image: url("../assets/contenido-servicios1.jpg");
}
.tarjetas .item2 {
  grid-column: 1/2;
  grid-row: 2/3;
}
.tarjetas .item2 .tarjeta-img {
  background-image: url("../assets/contenido-servicios2.jpg");
}
.tarjetas .item3 {
  grid-column: 1/2;
  grid-row: 3/4;
}
.tarjetas .item3 .tarjeta-img {
  background-image: url("../assets/contenido-servicios3.jpg");
}
.tarjetas .item4 {
  grid-column: 1/2;
  grid-row: 4/5;
}
.tarjetas .item4 .tarjeta-img {
  background-image: url("../assets/contenido-servicios4.jpg");
}
.tarjetas .item5 {
  grid-column: 1/2;
  grid-row: 5/6;
}
.tarjetas .item5 .tarjeta-img {
  background-image: url("../assets/contenido-servicios5.jpg");
}
.tarjetas .item6 {
  grid-column: 1/2;
  grid-row: 6/7;
}
.tarjetas .item6 .tarjeta-img {
  background-image: url("../assets/contenido-servicios6.jpg");
}

@media only screen and (min-width: 480px) {
  .seccion-portada-home {
    background-image: url("../assets/portada/portada-home2b.jpg") !important;
  }
  .seccion-portada-contacto {
    background-image: url("../assets/portada/portada-contacto2b.jpg") !important;
  }
  .seccion-portada-nosotros {
    background-image: url("../assets/portada/portada-nosotros2.jpg") !important;
  }
  .seccion-portada-servicios {
    background-image: url("../assets/portada/portada-servicios2.jpg") !important;
  }
  .seccion-portada-partners {
    background-image: url("../assets/portada/portada-partners2b.jpg") !important;
  }
}
@media only screen and (min-width: 640px) {
  /*------ PORTADA 640px -----*/
  .seccion-portada-home {
    background-image: url("../assets/portada/portada-home3b.jpg") !important;
  }
  .seccion-portada-contacto {
    background-image: url("../assets/portada/portada-contacto3b.jpg") !important;
  }
  .seccion-portada-nosotros {
    background-image: url("../assets/portada/portada-nosotros3.jpg") !important;
  }
  .seccion-portada-servicios {
    background-image: url("../assets/portada/portada-servicios3.jpg") !important;
  }
  .seccion-portada-partners {
    background-image: url("../assets/portada/portada-partners3b.jpg") !important;
  }
  /*SE CAMBIA EL NAV PARA ADAPTARLO A 
  PANTALLAS GRANDES. SE MUESTRAN LOS 
  LINKS EN LA PARTE SUPERIOR EN LUGAR DE 
  MOSTRARLOS DENTRO DEL MENÚ HAMBURGUESA*/
  nav div button {
    visibility: hidden;
    order: 1;
  }
  nav div {
    display: flex !important;
    justify-content: space-between;
  }
  nav div div {
    max-width: fit-content;
  }
  nav div div ul {
    display: flex !important;
    flex-direction: row !important;
    font-weight: bold;
  }
  nav div div ul li {
    padding: 0 15px;
  }
  .fc-cyan-active {
    color: #3ae9e6 !important;
    background-color: #212529;
  }
  /*SE CAMBIA DE CONTENIDO DEL HOME
  PARA ADAPTAR A PANTALLAS GRANDES, 
  EN LUGAR DE 3 FILAS Y 1 COLUMNA SE 
  USA 1 FILA Y 3 COLUMNAS*/
  .container-img {
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: 1fr !important;
    height: 50vh !important;
  }
  .container-img div:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .container-img div:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .container-img div:last-child {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  /*SE AJUSTA EL TAMAÑO DEL BOTON 
  ENVIAR YA QUE EN PANTALLAS GRANDES 
  EL TAMAÑO QUEDA GRANDE*/
  .form-contacto form div:last-child button {
    width: 25%;
  }
  /*SE CAMBIA EL ANCHO DEL CAROUSEL 
  PARA QUE SEA TAN GRANDE Y SE CENTRA*/
  .carousel {
    width: 80%;
    align-self: center;
  }
  /*SE CAMBIA LA GRILLA DE SERVICIOS DE 
  1 COL Y 2 FILAS A 2 COL Y 3 FILAS*/
  .tarjetas {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .tarjetas .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .tarjetas .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .tarjetas .item3 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .tarjetas .item4 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .tarjetas .item5 {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .tarjetas .item6 {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  /*ALTERNATIVA*/
  /*SE REDUCE EL ANCHO DEL CONTROL 
  PARA QUE NO QUEDE TAN GRANDE EN 
  PANTALLAS DE MAYOR RESOLUCIÓN*/
  .accordion {
    width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  /*----- PORTADA 768px -----*/
  .seccion-portada-home {
    background-image: url("../assets/portada/portada-home4b.jpg") !important;
  }
  .seccion-portada-contacto {
    background-image: url("../assets/portada/portada-contacto4b.jpg");
  }
  .seccion-portada-nosotros {
    background-image: url("../assets/portada/portada-nosotros4.jpg") !important;
  }
  .seccion-portada-servicios {
    background-image: url("../assets/portada/portada-servicios4.jpg") !important;
  }
  .seccion-portada-partners {
    background-image: url("../assets/portada/portada-partners4b.jpg") !important;
  }
}
@media only screen and (min-width: 1024px) {
  /*----- PORTADA 1024px ----*/
  .seccion-portada-home {
    background-image: url("../assets/portada/portada-home5b.jpg") !important;
  }
  .seccion-portada-contacto {
    background-image: url("../assets/portada/portada-contacto5b.jpg");
  }
  .seccion-portada-nosotros {
    background-image: url("../assets/portada/portada-nosotros5.jpg") !important;
  }
  .seccion-portada-servicios {
    background-image: url("../assets/portada/portada-servicios5.jpg") !important;
  }
  .seccion-portada-partners {
    background-image: url("../assets/portada/portada-partners5b.jpg") !important;
  }
  /*SE CAMBIA LA GRILLA DE SERVICIOS DE 
  1 COL Y 2 FILAS A 2 COL Y 3 FILAS*/
  .seccion-contenido-servicios .tarjetas {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  .seccion-contenido-servicios .item1 {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .seccion-contenido-servicios .item2 {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .seccion-contenido-servicios .item3 {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .seccion-contenido-servicios .item4 {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .seccion-contenido-servicios .item5 {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .seccion-contenido-servicios .item6 {
    grid-column: 3/4;
    grid-row: 2/3;
  }
  /*ALTERNATIVA*/
  /*SE REDUCE EL ANCHO DEL CONTROL 
  PARA QUE NO QUEDE TAN GRANDE EN 
  PANTALLAS DE MAYOR RESOLUCIÓN*/
  .accordion {
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
