*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #fff;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
}

/*****************************************************************
                            HEADER
*****************************************************************/

/*****************************************************************
    header es el contenedor del logo, la lista que contiene los links y el div que no se muestra () está solo para que al utilizar space-between me ponga la lista en el medio) y por tal motivo aplicacmos el display flex sobre él ya que es el padre de esos elementos. También aplicamos aquí el align-items ya que queremos centrar todos los elemenos (items) del header.
*****************************************************************/
header{
    /* background-color: #003785; */
    background-color: #445;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 2px solid #3ae9e6; */
    border-bottom: 2px solid #fff;
}

/*****************************************************************
    ul es el contenedor los links y por tal motivo aplicacmos el display flex sobre él ya que es el padre de los links
*****************************************************************/
header ul{
    /* background-color: yellow; */
    list-style: none;
    display: flex;
}

/*****************************************************************
    el margin lo aplicamos sobre los links para que tengan separación entre ellos
*****************************************************************/
header nav a{
    color: #3ae9e6;
    /* color: #fff; */
    font-size: 1.6em;
    text-decoration: none;
    margin:5px;
}

.img-logo-pixies{
    box-sizing: border-box;
    width: 50px;
    border: solid;
    border-color: #fff;
    margin: 10px;
} 

/*****************************************************************
                            HEADER
*****************************************************************/


/*****************************************************************
                            SECCIONES
*****************************************************************/
.seccion-portada-home{
    display: flex;
    flex-direction: column;
}

.img-portada-home, .img-portada-contacto{
    height: 50vh;
}

.container-portada-home{
    background-color: #fff ;
    border: 2px solid;
    position: absolute;
    top: 350px;
    left: 50px;
    height: 200px;
    width: 350px;
}

.seccion-contenido-home{
    /* background-color: red; */
    margin: 100px 0;
    border: 2px solid #777;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-texto-seccion-contenido-home{
    /* background-color: yellow; */
    margin: 10px 100px 10px 10px;
    width: 400px;
    height: 300px;
    border: 2px solid #777;
}


.container-img-seccion-contenido-home{
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    height: 300px;
    /* border: 2px solid grey; */
    margin: 10px;
}

.img1-contenido-home{
    width: 30%;
}

.img2-contenido-home{
    width: 30%;
}
.img3-contenido-home{
    width: 30%;
}

.seccion-portada-contacto{
    display: flex;
    flex-direction: column;
}

.container-portada-contacto{
    /* background-color: #fffa; */
    /* border: 2px solid ; */
    position: absolute;
    top: 250px;
    left: 50px;
    color:#fffb;
}

.seccion-contenido-contacto{
    /* background-color: red; */
    margin: 50px auto;

}

.texto-portada-contacto{
    font-size: 4em;
}

.span-portada-contacto{
    color: #0ffb;
}


.seccion-contenido-contacto{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1000px;

}

.div-seccion-contenido-titulo-contacto{
    /* background-color: yellow; */
    margin: 10px
}

.container-seccion-contenido-contacto{
    /* background-color: blueviolet; */
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.div-seccion-contenido-titulo-contacto h2{
    font-size: 3.5em;
}

.div-seccion-contenido-titulo-contacto p{
    font-size: 1.6em;
    margin: 5px;
}

.div-seccion-contenido-h3{
    width: 90%;
    margin: 15px 0;
}

.div-seccion-contenido-h3 h3{
    width: 90%;
    font-size: 3.5em;
}

.div-seccion-contenido-form-contacto{
    background-color: #ddd8;
    width: 70%;
    margin-right: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.div-datos-empresa{
    background-color: #ccc;
    width: 30%;
}
/*
.div-datos-empresa img{
    width: 100%;
    height: 100%;
}*/

form{
    width: 90%;
    /* border: solid; */
}

.div-form-row{
    /* background-color: chartreuse; */
    display: flex;
    margin: 15px 0px 15px 5px;
    justify-content: space-between;
}

.div-form-col-group{
    width: 49%;
    margin-right: 5px;
}

.div-form-col{
    margin: 0 0 5px 5px;
}

input[type="text"], input[type="email"], select, textarea{
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: inherit;
    font-size: 1.6em;
}

textarea{
    height: 100px;
    width: 99%;
    margin-bottom: 15px;
    font-family: inherit;
}

.div-agreement-contacto{

    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.div-checkbox-agreement{
    width: 2.5%;
    margin: 5px ;
}

.div-parragraph-agreement{
    width: 97.5%;
    margin-bottom: 15px;
    font-size: 1.6em;
}

.div-boton-enviar{
    display: flex;
    justify-content: end;
    margin: 0 5px 15px 0;
}

input[type="button"]{
    width: 25%;
    background-color: #003785;
    color: #fff;
}

/*****************************************************************
                            SECCIONES
*****************************************************************/


/*****************************************************************
                            FOOTER
*****************************************************************/
footer{
    background-color: #335;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    border-top: 2px solid #777;
}

.container-logo-redes-footer-home{
    display: flex;
    flex-direction: row;
}

/*****************************************************************
                            FOOTER
*****************************************************************/
