*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #6babbb88;
        /*6babbb
        73c8ddaa
        2aa9a688
        3ae9e688
        */
    font-family:Arial, Helvetica, sans-serif;
    font-size: 10px;
    color:#19393f;
}

/*----------HEADER----------*/

.border-cyan{
    border: 2px solid #3ae9e6 !important;

}

.border-bt-cyan{
    border-bottom: 2px solid #3ae9e6 !important;
}

.fc-cyan-active{
    color:#3ae9e6 !important;
    background-color: #3335 ;
}

.fc-cyan{
    color:#3ae9e6bb !important;
}

/*--------HEADER END--------*/


/*--------- FOOTER ---------*/

footer i{
    color: #3ae9e6;
    font-size: 30px;
}

i:hover{
    color: #6babbb88;
}

nav ul li a:hover{
    background-color: #19393f;
    border: 1px solid #fff8;
    border-radius: 5px;
    padding: 5px;
}

.fc-white{
    color: #fffd
}

/*------- FOOTER END -------*/



/*----SECCIONES HOME PAGE---*/

/*-------  PORTADA  --------*/

.seccion-portada-home{
    background-image: url("../assets/portada/portada-home1.jpg");
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.seccion-portada-home div{
    background-color: #0008;
    height: 150px;
}

.seccion-portada-home h1{
    color:#fffc;
    font-size: 3em;
    text-align: center;
    padding-top: 1.6em;
}

.seccion-portada-home span{
    color: #3ae9e6;
}

/*-------  PORTADA  --------*/

/*------  CONTENIDO  ------*/

.seccion-contenido-home{
    margin: 5em auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 95%;
}

.seccion-contenido-home :first-child h2{
    font-size: 2.8em;
    color:#19393f;
    align-self: start;
}

.seccion-contenido-home :first-child p{
    font-size: 1.6em;
    align-self: start;
}

.container-img-contenido-home{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);
    height: 120vh; 
    gap: 10px
}

.container-img-contenido-home :first-child{
    grid-column: 1/2;
    grid-row: 1/2;
    background-image: url("../assets/contenido-home1.jpg");
    background-size: cover;
}

.container-img-contenido-home :nth-child(2){
    grid-column: 1/2; 
    grid-row: 2/3;
    background-image: url("../assets/contenido-home2.jpg");
    background-size: cover;
}

.container-img-contenido-home :last-child{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("../assets/contenido-home3.jpg");
    background-size: cover;
}

.seccion-contenido-home :last-child p{
    margin-top: 10px;
    font-size: 1.6em;
    align-self: start;
}

/*-----  CONTENIDO END -----*/

/*--SECCIONES HOME PAGE END-*/



/*----SECCIONES CONTACTO----*/

/*-------  PORTADA  -------*/

.seccion-portada-contacto{
    background-image: url("../assets/portada/portada-contacto1.jpg");
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.seccion-portada-contacto div{
    background-color: #0008;
    height: 150px;
}

.seccion-portada-contacto h1{
    color:#fffc;
    font-size: 3em;
    text-align: center;
    padding-top: 1.6em;
}

.seccion-portada-contacto span{
    color: #3ae9e6;
}

/*-----  PORTADA END  -----*/

/*------  CONTENIDO  ------*/

.seccion-contenido-contacto{
    margin: 5em auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 95%;
}

.seccion-contenido-contacto :first-child h2{
    font-size: 2.8em;
    color:#19393f;
    align-self: start;
}

.seccion-contenido-contacto :first-child p{
    font-size: 1.6em;
    align-self: start;
}

.form-contacto{
    background-color: #fff9;
}

.seccion-contenido-contacto :nth-child(2) :first-child h3{
    /* width: 95%; */
    padding: 10px;
    font-size: 2.8em;
}

.seccion-contenido-contacto :nth-child(2) :first-child form input, 
.seccion-contenido-contacto :nth-child(2) :first-child form select, 
.seccion-contenido-contacto :nth-child(2) :first-child form textarea{
    background-color: #6babbb88;
    color:#19393f;
}

.seccion-contenido-contacto :nth-child(2) :first-child form textarea{
    height: 200px;
}

.seccion-contenido-contacto :nth-child(2) :first-child form{
    margin: 0 1px 0 1px;
}

.seccion-contenido-contacto :nth-child(2) :first-child :nth-child(2) :nth-child(6) {
    font-size: 1.6em;
}

.seccion-contenido-contacto :nth-child(2) :first-child :nth-child(2) :nth-child(7) {
    display: flex;
    justify-content: center;
    margin: 10px 0;

}

.seccion-contenido-contacto :nth-child(2) :first-child :nth-child(2) :nth-child(7) button {
    width: 50%;
    background-color: #3335;
    color: #fffc;
    font-weight: bold;
}

/*------ CONTENIDO END -----*/

/*--SECCIONES CONTACTO END--*/



/*----SECCIONES NOSOTROS----*/

/*--------- PORTADA --------*/

.seccion-portada-nosotros{
    background-image: url("../assets/portada/portada-nosotros1.jpg");
    height: 75vh;
    background-size: cover;
}

.seccion-portada-nosotros div{
    background-color: #0002;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.seccion-portada-nosotros div div{
    background-color: #0009;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.seccion-portada-nosotros h1{
    color:#fffc;
    font-size: 3em;
    text-align: center;
    padding-top: 1.6em;
}

.seccion-portada-nosotros span{
    color: #3ae9e6;
}

/*------- PORTADA END ------*/


/*-------- CONTENIDO -------*/

.seccion-contenido-nosotros{
    margin: 5em auto;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    width: 95%;
}

.seccion-contenido-nosotros h2{
    font-size: 2.8em;
    color:#19393f;
    align-self: start;
}

.seccion-contenido-nosotros p{
    font-size: 1.6em;
    align-self: start;
}

.seccion-contenido-nosotros h3{
    margin-top: 1em;
    font-size: 2.8em;
    color:#19393f;
    align-self: start;
}

.carousel-caption{
    background-color: #000a;
    align-self: center;
}

.carousel-item h5, .carousel-item p{
    color: #fff;
}

.seccion-contenido-nosotros h4{
    margin-top: 1em;
    font-size: 2.4em;
    color:#19393f;
    align-self: center;
}


/*----- CONTENIDO END ------*/

/*--SECCIONES NOSOTROS END--*/



/*------ MEDIA QUERYS ------*/

@media only screen and (min-width: 480px) {
    
    /*------ PORTADA 480px -----*/
    .seccion-portada-contacto{
        background-image: url("../assets/portada/portada-contacto3.jpg");
    }

    .seccion-portada-home{
        background-image: url("../assets/portada/portada-home2.jpg") !important;
    }

    .seccion-portada-nosotros{
        background-image: url("../assets/portada/portada-nosotros2.jpg") !important;
    }
}



@media only screen and (min-width: 640px) {
    
    /*------ PORTADA 640px -----*/
    .seccion-portada-contacto{
        background-image: url("../assets/portada/portada-contacto6.jpg");
    }

    .seccion-portada-home{
        background-image: url("../assets/portada/portada-home3.jpg") !important;
    }

    .seccion-portada-nosotros{
        background-image: url("../assets/portada/portada-nosotros3.jpg") !important;
    }

    nav div button{
        visibility: hidden;
        order: 1
    }

    nav div{
        /* background-color: green; */
        display: flex !important;
        justify-content: space-between;
}

    nav div div{
        /* background-color: red; */
        max-width: fit-content;
    }

    nav div div ul {
        display: flex !important;
        flex-direction: row !important;
        /* background-color: blue; */
        font-weight: bold;
    }

    nav div div ul li{
        padding: 0 15px;        
    }

    .fc-cyan-active {
        color:#3ae9e6 !important;
        background-color: #212529;
    }

    .container-img-contenido-home{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        height: 50vh;
    }
    
    .container-img-contenido-home :first-child{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .container-img-contenido-home :nth-child(2){
        grid-column: 2/3; 
        grid-row: 1/2;
    }
    
    .container-img-contenido-home :last-child{
        grid-column: 3/4;
        grid-row: 1/2;
    } 
    
    .carousel{
        width: 80%;
        align-self: center;
    }
}

@media only screen and (min-width: 768px) {
    
    /*----- PORTADA 768px -----*/
    .seccion-portada-contacto{
        background-image: url("../assets/portada/portada-contacto9.jpg");
    }

    .seccion-portada-home{
        background-image: url("../assets/portada/portada-home4.jpg") !important;
    }

    .seccion-portada-nosotros{
        background-image: url("../assets/portada/portada-nosotros4.jpg") !important;
    }
}

@media only screen and (min-width: 1024px) {
    
    /*----- PORTADA 1024px ----*/
    .seccion-portada-contacto{
        background-image: url("../assets/portada/portada-contacto12.jpg");
    }

    .seccion-portada-home{
        background-image: url("../assets/portada/portada-home5.jpg") !important;
    }

    .seccion-portada-nosotros{
        background-image: url("../assets/portada/portada-nosotros5.jpg") !important;
    }
}

/*---- MEDIA QUERYS END ----*/