@mixin portada($image){
    background-image:url($image);
    height: 75vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;

    div{
        background-color: #0008;
        height: 150px;


        h1{
            color:#fffc;
            font-size: 3em;
            text-align: center;
            padding-top: 1.6em;

            span{
                color: #3AE9E6;
            }
        }
    }
}

@mixin contenido{
        margin: 5em auto;
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        width: 95%;
    

        h2, h3{
        font-size: 2.8em;
        align-self: start;
        }

        p{
            font-size: 1.6em;
            align-self: start;
        }

        h3, h4{
            margin-top: 1em;
        }
        
        h4{
            font-size: 2.4em;
            align-self: center;
        }
}

@mixin grid-img($grid-column, $grid-row, $image){
    grid-column: $grid-column;
    grid-row: $grid-row;
    background-image: url($image);
    background-size: cover;
}

@mixin grid-template-img{
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: repeat(3, 1fr);
    height: 120vh; 
    gap: 10px;

    div:first-child{
        @include grid-img(1/2, 1/2,  "../assets/contenido-home1.jpg");
    }

    div:nth-child(2){
        @include grid-img(1/2, 2/3, "../assets/contenido-home2.jpg");
    }

    div:last-child{
        @include grid_img(1/2, 3/4, "../assets/contenido-home3.jpg");
    }
}