//body
$body-bgc: #6BABBB88;
$body-fc: #19393F;
$body-ff: Arial, Helvetica, sans-serif;
$body-font-size: 10px;

//header
$hdr-bgc-mnu-active: #33333355;
$hdr-fc: #3AE9E6BB;
$hdr-fc-active: #3AE9E6;
$hdr-border-cyan: 2px solid $hdr-fc-active;
$hdr-mnu-border: 1px solid #FFFFFF88;
$hdr-mnu-border-r: 5px;
$hdr-mnu-padding: 5px;

//footer
$foot-fc-white: #FFFFFFDD;
$foot-f-size: 30px;