@use "../utilities/variables" as vars;

//RESET
*{
    margin: 0;
    padding: 0;
}

//BODY
body {
    background-color: vars.$body-bgc;
    font-family: vars.$body-ff;
    font-size: vars.$body-font-size;
    color: vars.$body-fc;
}
